# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

# Operating System
.DS_Store
Thumbs.db

# Node-RED
nodered_settings.js
flows*.json
.credentials.json

# Debug logs
*.log

# Environment variables
.env